
  <div>
    <div>
    <h2 mat-dialog-title>New Message
   
    <button style="margin-left:60vh;" (click)="Action('Draft')" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
      <mat-icon>close</mat-icon>
    </button></h2>

 
</div>
    <mat-dialog-content>
<form style="width:750px;"  [formGroup]="EmailForm" (ngSubmit)="onSubmit()">
    <!--Value:{{myForm.value | json}}-->

        <mat-form-field style="width:700px;" appearance="outline">
          <mat-label>To</mat-label>
          <input formControlName="To" matInput placeholder="To" required>

        </mat-form-field>
    <br>
        <mat-form-field style="width:700px;" appearance="outline">
            <mat-label>object</mat-label>
            <input formControlName="object" matInput placeholder="Cc" >
          </mat-form-field>
  
          
   
             
       

        <mat-form-field  style="width:700px;" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea formControlName="Message" matInput></textarea>
        </mat-form-field>

<div class="button-row">

     
  <button (click)="onSubmit()"[disabled]="EmailForm.invalid" mat-raised-button color="primary">Send</button>

       <button (click)="Action('Trash')" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
        <mat-icon>delete_outline</mat-icon>
      </button>

    </div>
    </form>
  </mat-dialog-content>


</div>