<div class="mainColor"></div>
<mat-sidenav-container  class="sidenav-container"x>
      <mat-sidenav  #drawer class="sidenav" fixedInViewport
          [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'"
          [opened]="(isHandset$ | async) === false">
          
            <mat-nav-list >
              <img class="logo"src="../../assets/images/Logo.png" >
                <a  mat-list-item>   
                  <button  class="button1" mat-raised-button style="background-color:#226fb4;" (click)="onCreate()">
                  <mat-icon>add_outline</mat-icon>Compose</button>
                </a>
                <mat-toolbar   mat-list-item> <div  class="title">
                  Folders
                </div></mat-toolbar>

                <a *ngFor="let item of nav"
                mat-list-item   routerLink="{{item.link}}"
                [routerLinkActive]="['active']" 
                [routerLinkActiveOptions]="{exact:item.exact}">
                  <mat-icon  class="iconL">
                {{item.icon}}</mat-icon>{{item.name}}
                </a>

                <mat-toolbar   mat-list-item> <div  class="title">
                  Filter
                </div></mat-toolbar>
                <a 
                mat-list-item   routerLink="/Reclassify"
                [routerLinkActive]="['active']" 
                >
                  <mat-icon  class="iconL">
                    hourglass_top</mat-icon>Reclassify
                </a>

                <mat-toolbar   mat-list-item> <div  class="title">
                  Labels
                </div></mat-toolbar>
                
                
                <app-nav-tree></app-nav-tree>
            </mat-nav-list>
            </mat-sidenav>

      <mat-sidenav-content >
        
        <mat-toolbar class="toolbarstyle" >
          
            <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async"
            class="toolbarstylebutton"
          >
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </mat-toolbar>
      
         

    
        <!-- Add Content Here -->
  
       
        <div style="height: 90%;">
         <!-- <div style="background-color: #fff;height:60px;">
            <div fxFlex="90%" style="background-color: #fff; "></div>
            <div fxFlex="10%" style="background-color: primary;background-color:  #226fb4;"></div>
           </div>-->
           <router-outlet></router-outlet>

        </div>
       <!---- <app-email></app-email>-->
    </mat-sidenav-content>
</mat-sidenav-container>
