

   <div *ngIf="folder=='Inbox'">
<a style="text-decoration: none;" [routerLink]="['emails',id]"> 
    <mat-card class="example-card" class="card"  style ="border-top: 1px solid #E0E0E0;">
        <mat-card-header> 
            <img mat-card-avatar class="example-header-image" src="/assets/images/image1.jpg">
             <mat-card-title>
                    <div>
                        <span class="aligned-with-icon"><h3> {{firstName}}&nbsp;{{lastName}}
                            <!--<mat-icon  *ngIf="files" >attachment</mat-icon>-->
                        </h3></span >
                       
                    </div>
                   
        </mat-card-title>
    <mat-card-subtitle>
        <!-- [ngClass]="{'redColor':category==='Label1',
                     'greenColor':category==='Label2'
                      }"-->
     <div *ngIf="category.dict">             <!--Product-->
<div class="loop" *ngFor="let itemp of category.dict.Product "> 
 <span ><span class="LabelG">
 <mat-icon class="LabelI" style="color:red;" *ngIf="category" >circle</mat-icon>
  <span style="font-size:12px;">{{itemp.Prediction}}</span>
</span>
           
            
                 </span>
                </div>
                <div class="loop" *ngFor="let itemp of category.dict.Issue "> 
    <span><span class="LabelG">
 <mat-icon   class="LabelI" style="color:green;" *ngIf="category" >circle</mat-icon>
<span style="font-size:12px;"> {{itemp.Prediction}}</span>
</span>
      
                </span>
            </div>
      </div>       
                  
                 

             </mat-card-subtitle>

        </mat-card-header>
            <mat-card-content>
                <p>{{object| slice :0:20}}
                   </p>
              
                 <p >{{content| slice :0:50}}</p>

             </mat-card-content>      
    </mat-card>
    </a>           
</div>