

.aligned-with-icon{
    display:inline-block;
    margin-left:5px; /* optional */
    margin-top:3px;
}

mat-card-title
{
 color:#000;
}
mat-icon{
margin-left: 15px;
margin-bottom: -50px;
}

.redColor
{
    color:red;
    font-size: 12px;
    font-weight: bold;
    padding-left: -50px;
    margin-right: 90px;
   
}
.greenColor{
    color:green;
   
    font-size: 12px;
    font-weight: bold;
    padding-left: -50px;
    margin-right: 90px;
}
.LabelG{
   font-size:17px
    
}
.LabelI{
    font-size :25px;
   
}
.LabelPr{
    font-size :17px;
}
.LabelPc{
font-size :17px;
}
.loop{
    color:#000;
    margin-bottom:10px;
}
.title{
font-size:22px;
color:#000;
padding:10px;
margin-bottom:2px;


}
.line{
    position: relative;
    top: -5px;
    margin-left: 5px; /* optional */
    width:30%;
    color:#3F51B5;
    font-weight: 50px;
}
.btnclassify{
    width:80%;margin-top:20px;margin-bottom:30px;
}
ul{
    list-style:none;
}
.icon-style
{
    margin-left:100px;
    font-size:10px;
    background-color: yellow;
}

.matcardStyle
{
    padding:10px;border-bottom:1px solid #E0E0E0;margin-bottom:15px;
}
.object
{
    padding-top:20px;margin-bottom:20px;
}
.classification
{
    color:#000;padding:10px;
}
.labelColor
{
    color:#47b6e5;
}
.hourglassIcon
{
    font-size:35px;
}
.itemp
{
    color:#a0a1a3;
}
.warningIcon
{
    font-size:50px;color:brown;   
}
.menu
{
    margin-top:-30px;color:#000;
}
.marginmenu
{
    margin-top:-50px; 
}

.menuLabel
{
    margin-top:-50px;color:#226fb4;
}
.colorlabel
{
    color:#226fb4
}

.detail
{
    color:#226fb4;padding:0px; 
}

.detailvalue
{
    color:#226fb4;border-bottom:solid 1px #226fb4;
}