

<div > 
  
    <mat-card style="height: 850px;"class="example-card" class="card">
    

            <div style="padding:10px;border-bottom:1px solid #E0E0E0;margin-bottom:15px;">
         
                        <div  style="padding-top:20px;margin-bottom:20px;" class="title">{{email.object}} </div>
                 
                     <div *ngIf="!email.category">
                   <h3 style="color:#000;padding:10px;"> <span style="color:#47b6e5;">Classification:</span> <mat-icon style="font-size:35px;">hourglass_top</mat-icon></h3> 
                     </div>
                   
             


                    <div *ngIf="email.category">  
                    <div class="container" fcLayout.xs="column">

                    <div  fxFlex="60%">
                            <div class="loop" *ngFor="let itemp of email.category.dict.Product "> 
                              <span ><span >
                              <span class="LabelPr">&nbsp; &nbsp;
                                <span style="color:#47b6e5;">
                                 Product :
                                </span>
                                  <span class="LabelPr" >{{itemp.Prediction}} 
                                  </span></span>
                              </span></span>
                                 <span *ngIf="itemp.Probability">
                              <span style="color:#a0a1a3;">:</span>  
                              <span  [ngStyle]="{'color': getColor(itemp.Probability)}" class="LabelPc">  {{itemp.Probability | percent}}</span>
                            </span>
                              </div>
                                              

                                  <div class="loop" *ngFor="let itemp of email.category.dict.Issue "> 
                                  <span><span class="LabelG">
                              <span class="LabelPr">&nbsp; &nbsp;
                                <span style="color:#47b6e5;"> Issue :    </span>
                                 {{itemp.Prediction}}  
                                 <span style="color:#a0a1a3">:</span>  
                                </span>

                              </span>
                                      
                                  </span>
                                  <span *ngIf="itemp.Probability">
                                  <span  class="LabelPc" [ngStyle]="{'color': getColor(itemp.Probability)}">{{itemp.Probability | percent }}</span>
                                         </span>
                                  </div>
                                
                            </div>     
                            <div  fxFlex="10%">
                              <button  (click)="Filter(email,email.filter)" mat-icon-button >
                                <mat-icon  style="margin-top:-35px;" [ngStyle]="{color:getColorIcon(email.filter)}" >
                                    <span style="font-size:50px;color:brown;">warning</span></mat-icon>
                                </button>
                              </div>
                            </div>
                           </div> 
                     </div>
            
               <div *ngIf="email.folder!='Draft'">
                   <mat-card-header > 
                      <span fxFlex="60%" >
                        <span ><h3>{{email.firstName}}&nbsp;{{email.lastName}}</h3></span ></span >
                          <span fxFlex="40%" >
                              <span style="margin-top:-30px;color:#000;"> 
                                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="reply(email)">
                                        <mat-icon style="margin-top:-50px;">reply</mat-icon>
                                        <span>Reply</span>
                                      </button>
                                      <button mat-menu-item (click)="forward(email)">
                                        <mat-icon style="margin-top:-50px;">forward</mat-icon>
                                        <span>Forward</span>
                                      </button>
                                      <button mat-menu-item [matMenuTriggerFor]="folder">
                                          <mat-icon style="margin-top:-50px;">folder_outline</mat-icon>
                                          <span>send to </span>
                                        </button>
                                        <div *ngIf="email.category">
                                    <button mat-menu-item [matMenuTriggerFor]="label">
                                          <mat-icon style="margin-top:-50px;">label_outline</mat-icon>
                                          <span>send to </span>
                                        </button>
                                        <mat-menu #label="matMenu">
                                          <button mat-menu-item  [matMenuTriggerFor]="Product">
                                              <mat-icon style="margin-top:-50px;color:#226fb4"><span >label_outline</span></mat-icon>
                                              <span>Product</span></button>
    
                                              <button mat-menu-item   [matMenuTriggerFor]="Issue" >
                                                  <mat-icon   style="color:#226fb4"style="margin-top:-50px;">
                                                    <span   style="color:#226fb4">label_outline</span></mat-icon>
                                                  <span>Issue</span></button>                                 
                                        
                                        </mat-menu> 
                                        <mat-menu #Product="matMenu">
                                          <span *ngFor="let itemP of childP">
                                          <button mat-menu-item (click)="SendToLabel(email,1,itemP.name)" >{{itemP.name}}</button>
                                          </span>
    
                                        </mat-menu>
    
                                        <mat-menu #Issue="matMenu">
                                          <span *ngFor="let itemI of childI">
                                            <button mat-menu-item (click)="SendToLabel(email,2,itemI.name)" >{{itemI.name}}</button>
                                            </span>
                                        </mat-menu>
                                      </div>
                                      <button mat-menu-item (click)="delete(email)">
                                          <mat-icon style="margin-top:-50px;">delete</mat-icon>
                                          <span>Delete</span>
                                        </button>
                                    </mat-menu>
                                    <mat-menu #folder="matMenu">
                                      <span *ngFor="let itemf of Folder">
                                      <button mat-menu-item (click)="SendTo(email,email.folder,itemf)">{{itemf}}</button>
                                    </span>
                                    
                               </mat-menu>
                              <div *ngIf="email.category">
                                    
                                  </div>
                                    </span> 
                        </span>
                   </mat-card-header>


      <mat-card-header  style="margin-top:-20px;">
          <div >
                <button  (click)="showDetail()"  style=" color:#226fb4;padding:0px;"mat-flat-button><span style=" color:#226fb4;border-bottom:solid 1px #226fb4;">{{value}}</span></button> 
                  <div *ngIf="showme" >
                   <h3> <span style="color:#a0a1a3">from:</span>&nbsp;{{Showdetail[0]}}</h3>
                   <h3><span style="color:#a0a1a3">To:</span> &nbsp;{{Showdetail[1]}}</h3>
           </div>      
          <div *ngIf="hideme"></div>        
          </div>
        </mat-card-header>
        <mat-card-header style="margin-top:30px;">
        <h3> {{email.content}}</h3>
        </mat-card-header>      
            </div>
         <div *ngIf="email.folder=='Draft'">
           <form style="width:750px;" >
               <mat-form-field style="width:700px;" appearance="outline">
                   <mat-label>To</mat-label>
                      <input formControlName="To" matInput  placeholder="To" required>
                </mat-form-field>
                <br>
                <mat-form-field style="width:700px;" appearance="outline">
                  <mat-label>object</mat-label>
                    <input formControlName="object"  matInput placeholder="Cc" >
                 </mat-form-field>
                 <mat-form-field  style="width:700px;" appearance="outline">
                      <mat-label>Message</mat-label>
                      <textarea formControlName="Message" matInput></textarea>
                  </mat-form-field>
                 <div class="button-row">
                     <button  mat-raised-button color="primary">Send</button>
                     <button  mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
                         <mat-icon>delete_outline</mat-icon>
                      </button>
                  </div>
             </form>
          </div>

  </mat-card>
</div>           
