
  <div style="margin:20px;">
    <div style="margin:20px;">
    <h2 mat-dialog-title>New Message 
   
    <button style="margin-left:60vh;" (click)="Draft(email1)" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
    </button></h2>

     
    </div>
    <form  style="width:100%" [formGroup]="EmailForm" (ngSubmit)="onSubmit(email1)">
        <!--Value:{{myForm.value | json}}-->
    
        <mat-form-field  style="width:100%"appearance="outline">
          <input  formControlName="from" matInput  >
        </mat-form-field>
      
      <br>
            <mat-form-field style="width:100%" appearance="outline">
              <mat-label>To</mat-label>
              <input formControlName="To" matInput required>
    
            </mat-form-field>
        <br>
            <mat-form-field style="width:100%" appearance="outline">
                <mat-label>object</mat-label>
                <input formControlName="object" matInput >
              </mat-form-field>
      
              
       
                 
           
    
            <mat-form-field style="width:100%"appearance="outline">
              <mat-label>Message</mat-label>
              <textarea formControlName="Message" matInput >
              </textarea>
            </mat-form-field>
    
    <div class="button-row">
            <button (click)="onSubmit(email1)"[disabled]="EmailForm.invalid" mat-raised-button color="primary">Send</button>
           <a href=""><mat-icon>attach_file_outline</mat-icon></a> 
           <button type="button" (click)="delete(email1)" mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
            <mat-icon>delete_outline</mat-icon>
          </button>
    
        </div>
        </form>
    
    
    </div>